################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge/CodeChallenge/CodeChallenge/bin/Debug
/CodeChallenge/CodeChallenge/CodeChallenge/obj/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/bin/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/obj/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.iOS/bin/iPhone/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.iOS/obj/iPhone/Debug
/CodeChallenge/packages
/.vs/CodeChallenge/v15
/.vs
/CodeChallenge/.vs/CodeChallenge/v15/Server/sqlite3
/CodeChallenge/.vs/CodeChallenge/v15/sqlite3/db.lock
/CodeChallenge/.vs/CodeChallenge/v15/sqlite3/storage.ide-shm
/CodeChallenge/.vs/CodeChallenge/v15/sqlite3/storage.ide-wal
/CodeChallenge/CodeChallenge/CodeChallenge/bin/Release
/CodeChallenge/CodeChallenge/CodeChallenge/obj/Release
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/bin/Release
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/obj/Release
/CodeChallenge/CodeChallenge/CodeChallenge.iOS/obj/iPhone/Release
