################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge/CodeChallenge/CodeChallenge/bin/Debug
/CodeChallenge/CodeChallenge/CodeChallenge/obj/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/bin/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/obj/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.iOS/bin/iPhone/Debug
/CodeChallenge/CodeChallenge/CodeChallenge.iOS/obj/iPhone/Debug
/CodeChallenge/packages
/.vs/CodeChallenge/v15
/.vs
/CodeChallenge/.vs/CodeChallenge/v15
/CodeChallenge/CodeChallenge/CodeChallenge.Droid/CodeChallenge.Droid.csproj.bak
